
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myBloodPressureLabel" translate="trackerApp.bloodPressure.home.createOrEditLabel">Create or edit a BloodPressure</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="bloodPressure.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="trackerApp.bloodPressure.dateTime" for="field_dateTime">DateTime</label>
            <input id="field_dateTime" type="text" class="form-control" uib-datepicker-popup="{{dateformat}}" ng-model="bloodPressure.dateTime" is-open="datePickerForDateTime.status.opened"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerForDateTimeOpen($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </div>
        <div class="form-group">
            <label class="control-label" translate="trackerApp.bloodPressure.systolic" for="field_systolic">Systolic</label>
            <input type="number" class="form-control" name="systolic" id="field_systolic"
                    ng-model="bloodPressure.systolic"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="trackerApp.bloodPressure.diastolic" for="field_diastolic">Diastolic</label>
            <input type="number" class="form-control" name="diastolic" id="field_diastolic"
                    ng-model="bloodPressure.diastolic"
                     />
        </div>

        <div class="form-group">
            <label translate="trackerApp.bloodPressure.user" for="field_user">user</label>
            <select class="form-control" id="field_user" name="user" ng-model="bloodPressure.user" ng-options="user as user.login for user in users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
