
<div>
    <h2><span translate="trackerApp.weight.detail.title">Weight</span> {{weight.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="trackerApp.weight.dateTime">DateTime</span>
                </td>
                <td>
                    <span class="form-control-static">{{weight.dateTime | date:'medium'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="trackerApp.weight.weight">Weight</span>
                </td>
                <td>
                    <span class="form-control-static">{{weight.weight}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="trackerApp.weight.user">user</span>
                </td>
                <td>
                    {{weight.user.login}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
