
<div>
    <h2><span translate="trackerApp.points.detail.title">Points</span> {{points.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="trackerApp.points.date">Date</span>
                </td>
                <td>
                    <span class="form-control-static">{{points.date | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="trackerApp.points.exercise">Exercise</span>
                </td>
                <td>
                    <span class="form-control-static">{{points.exercise}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="trackerApp.points.meals">Meals</span>
                </td>
                <td>
                    <span class="form-control-static">{{points.meals}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="trackerApp.points.alcohol">Alcohol</span>
                </td>
                <td>
                    <span class="form-control-static">{{points.alcohol}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="trackerApp.points.notes">Notes</span>
                </td>
                <td>
                    <span class="form-control-static">{{points.notes}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="trackerApp.points.user">user</span>
                </td>
                <td>
                    {{points.user.login}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
