<div>
    <div class="row">
        <div class="col-sm-7">
            <h2 translate="trackerApp.points.home.title">Points</h2>
        </div>
        <div class="col-sm-5 text-right">
            <form name="searchForm" class="form-inline">
                <div class="form-group p-r">
                    <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery"
                           placeholder="{{'entity.action.search' | translate}}">
            </div>
                <button class="btn btn-info btn-sm" ng-click="search()"
                        tooltip="{{'entity.action.search' | translate}}">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
                <button class="btn btn-primary btn-sm" ui-sref="points.new"
                        tooltip="{{'entity.action.new' | translate}}">
                    <span class="glyphicon glyphicon-flash"></span>
                </button>
            </form>
    </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span translate="trackerApp.points.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="exercise"><span translate="trackerApp.points.exercise">Exercise</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="meals"><span translate="trackerApp.points.meals">Meals</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="alcohol"><span translate="trackerApp.points.alcohol">Alcohol</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notes"><span translate="trackerApp.points.notes">Notes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span translate="trackerApp.points.user">user</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="points in pointss track by points.id">
                    <td><a ui-sref="points.detail({id:points.id})">{{points.id}}</a></td>
                    <td>{{points.date | date:'short'}}</td>
                    <td class="text-center">
                        <i class="glyphicon"
                           ng-class="{'glyphicon-ok text-success': points.exercise, 'glyphicon-remove text-danger': !points.exercise}"/>
                    </td>
                    <td class="text-center">
                        <i class="glyphicon"
                           ng-class="{'glyphicon-ok text-success': points.meals, 'glyphicon-remove text-danger': !points.meals}"/>
                    </td>
                    <td class="text-center">
                        <i class="glyphicon"
                           ng-class="{'glyphicon-ok text-success': points.alcohol, 'glyphicon-remove text-danger': !points.alcohol}"/>
                    </td>
                    <td>{{points.notes}}</td>
                    <td>
                        {{points.user.login}}
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="points.detail({id:points.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="points.edit({id:points.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="points.delete({id:points.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
