<div>
    <h2 translate="trackerApp.preferences.home.title">Preferencess</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="preferences.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="trackerApp.preferences.home.createLabel">Create a new Preferences</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Preferences</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="reset()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="weeklyGoal"><span translate="trackerApp.preferences.weeklyGoal">Weekly_goal</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="weightUnits"><span translate="trackerApp.preferences.weightUnits">Weight_units</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="preferences in preferencess track by preferences.id">
                    <td><a ui-sref="preferences.detail({id:preferences.id})">{{preferences.id}}</a></td>
                    <td>{{preferences.weeklyGoal}}</td>
                    <td translate="{{'trackerApp.Units.' + preferences.weightUnits}}">{{preferences.weightUnits}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="preferences.detail({id:preferences.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="preferences.edit({id:preferences.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="preferences.delete({id:preferences.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
