
<div>
    <h2><span translate="trackerApp.preferences.detail.title">Preferences</span> {{preferences.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="trackerApp.preferences.weeklyGoal">Weekly_goal</span>
                </td>
                <td>
                    <span class="form-control-static">{{preferences.weeklyGoal}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span translate="trackerApp.preferences.weightUnits">Weight_units</span>
                </td>
                <td>
                    <span class="form-control-static" translate="{{'trackerApp.Units.' + preferences.weightUnits}}">{{preferences.weightUnits}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
